<link rel="stylesheet" href="../style.css" />
<footer id="footer">
  <div class="footer-wrapper">
    <div class="footer-infomation">
      <p class="footer-heading">The Cup Cafe</p>
      <div class="footer-address-wrapper">
        <div class="footer-address">
          <i class="fa-solid fa-map-location-dot footer-icon"></i>
          <h3>
            Địa chỉ: Số 117, Đường D1, P. Phú Hòa, TP. Thủ Dầu Một, T. Bình
            Dương
          </h3>
        </div>
        <div class="footer-address">
          <i class="fa-solid fa-mobile-screen-button footer-icon"></i>
          <h3>Điện thoại: 0989 741 744</h3>
        </div>
        <div class="footer-address">
          <i class="fa-solid fa-square-phone-flip footer-icon"></i>
          <h3>Hotline: 0989 741 744</h3>
        </div>

        <div class="footer-address">
          <i class="fa-solid fa-envelope-circle-check footer-icon"></i>
          <h3>Email: trandao056@gmail.com</h3>
        </div>

        <div class="footer-address">
          <i class="fa-solid fa-building footer-icon"></i>
          <h3>
            Đầu tư & quản lý bởi <br />
            CÔNG TY CỔ PHẦN QUỐC TRƯỜNG
          </h3>
        </div>
      </div>
      <p class="coppy-right">
        Copyright © 2019 The Cup Cafe. All rights reserved
      </p>
    </div>
    <div class="footer-logo"></div>
  </div>
</footer>

<script></script>
