<link rel="stylesheet" href="../style.css" />

<div class="logo">
  <img src="../../../asscet/images/logongang.png" />
</div>
<div class="header">
  <ul class="navbar">
    <li class="item active">
      <a href="/">Trang chủ</a>
    </li>
    <li class="item">
      <a href="/page/gioi-thieu/">Giới thiệu</a>
    </li>
    <li class="item tippy">
      <h3 class="tippy-heading">
        <a href="/page/thuc-don/">Thực đơn</a>
      </h3>
      <ul class="tippy-list">
        <li class="tippy-item">
          <a href="/page/thuc-don/#ca-phe">Cà phê</a>
        </li>
        <li class="tippy-item">
          <a href="/page/thuc-don/#tra">Trà</a>
        </li>
        <li class="tippy-item">
          <a href="/page/thuc-don/#đa-xay--sinh-to">Đá xay / sinh tố</a>
        </li>
        <li class="tippy-item">
          <a href="/page/thuc-don/#trai-cay-home-made-kombucha"
            >Trái Cây/Home Made</a
          >
        </li>
        <li class="tippy-item">
          <a href="/page/thuc-don/#thuc-an-com-nieu">Thức ăn/Cơm niêu</a>
        </li>
        <li class="tippy-item">
          <a href="/page/thuc-don/#vat-pham">Vật phẩm</a>
        </li>
      </ul>
    </li>

    <li class="item logo-center">
      <a href="/"></a>
    </li>
    <li class="item tippy">
      <h3 class="tippy-heading">Thuê hội nghị</h3>
      <ul class="tippy-list">
        <li class="tippy-item"><a href="/#sub-room">Đăng ký phòng họp</a></li>
        <li class="tippy-item"><a href="/">Hình ảnh hội nghị</a></li>
      </ul>
    </li>
    <li class="item tippy">
      <h3 class="tippy-heading"><a href="/">Nhượng quyền</a></h3>
      <ul class="tippy-list">
        <li class="tippy-item"><a href="/">Nhượng quyền</a></li>
        <li class="tippy-item"><a href="/">Cửa hàng</a></li>
      </ul>
    </li>
    <li class="item"><a href="/page/lien-he/">Liên hệ</a></li>
    <li class="langue">
      <div class="langue-item vi"></div>
      <div class="langue-item en"></div>
      <div class="langue-item other"></div>
      <div id="google_translate_element" class=""></div>
    </li>
  </ul>
</div>

<script>
  function start() {
    activeHeader();
    getLang();
  }

  function activeHeader() {
    const pathName = window.location.pathname;
    const active = document.querySelector(".active");
    active.classList.remove("active");
    const activeElement = getParentLi();
    activeElement.classList.add("active");
  }

  function getParentLi() {
    const pathName = window.location.pathname;

    const elementClick = document.querySelector(`[href='${pathName}']`);
    let activeElement = elementClick;

    for (let i = 0; i < 10; i++) {
      if (activeElement.parentElement.localName === "li") {
        activeElement = activeElement.parentElement;
        break;
      } else {
        activeElement = activeElement.parentElement;
      }
    }
    return activeElement;
  }

  function getLang() {
    const interval = setInterval(() => {
      let currentLang = document.getElementById(":0.targetLanguage")?.firstChild;
      if(currentLang) {
        currentLang = currentLang
        currentLang.addEventListener('change', () => {
          let currentl = currentLang.value

          if (currentl !== 'vi' && currentl !== 'en') {
            currentl = 'other'
          }
             
          const langue = document.querySelector(`.${currentl}`)
          const ownLanue = document.querySelectorAll('.langue-item')
          ownLanue.forEach((item)=> item.style.display = 'none')
          langue.style.display = 'block'
          
        })
        clearInterval(interval)
      } else {
        console.log('chua load xong')
      }
    }, 500);

  }

  start();
</script>
